# Virtuelle Umgebung ignorieren
env/
venv/
bilbolab/
!bilbolab\robots\gimli\software\GIMLI_Software\extensions\babylon\src\test.html

# Python Cache-Dateien ignorieren
__pycache__/
*.pyc

# Mac/Windows Systemdateien ignorieren
.DS_Store
Thumbs.db

#git add .
#git commit -m "los gehts"
#git push